*,
*::after,
*::before {
box-sizing: inherit;
}



@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroy-extrabold-webfont.woff2") format("woff2"),
  url("../fonts/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gilroylight";
  src: url("../fonts/gilroy-light-webfont.woff2") format("woff2"),
  url("../fonts/gilroy-light-webfont.woff") 
  format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
box-sizing: border-box;
} 

body {
  margin: 0;
  padding: 0;
  font-family: "Open sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.logo {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.header-main {
  background-color: #f7e296;
}

.header-menu-small,
.user-name,
.log-out {
  font-size: 15px;
  line-height: 30px;
  color: #000;
  font-weight: 300;
  letter-spacing: 0.1;
  padding: 0;
  margin: 0;

  list-style: none;
}

.user-name {
  padding-left: 25px;
  position: relative;
}

.user-name::before {
  content: "";
  left: 0px;
  top: 10px;
  position: absolute;
  width: 13px;
  height: 12px;

  background-image: url("../img/user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-menu-small a,
.header-catalog-menu a,
.option-menu a,
.catalog-item a,
.about-us-more {
  color: #000;
}

.search {
  font-size: 15px;
  line-height: 30px;
}

.header-catalog-menu li {
  list-style: none;
}

.header-catalog-menu a,
.menu-sign-in a {
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.15px;
}

.catalog-link ,
.option-menu a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.6px;    
}

.option-menu,
.catalog-link,
.menu-sign-in {
  list-style: none;
}

.product b {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  
  letter-spacing: 0.17px;
}

.product p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
  line-height: 30px;
    
  margin: 0;
  padding: 0;
  padding-top: 17px;
    padding-bottom: 52px;
}

.product-more {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2.15px;
    
  margin: 0;
  padding: 0;
  padding-left: 44px;
  
  display: block;
  background-image: url(../img/button-back.jpg);
  background-repeat: no-repeat;
  background-size: 220px 8px;
  background-position: 0 8px;
}
.product-item-description {
    margin-top: 53px;
    margin-left: -3px;
}
.product-item-description tr:first-child {
  font-family: "gilroylight", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36;  
}

.product-item-description tr:last-child {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: #464646;
  
  letter-spacing: 0.13px;
}

.catalog-item {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18;  
  list-style: none;
}

.catalog-popular {
  width: 160px;
  height: 245px;
    
  background-position: center;
}
.catalog-popular:first-child {
  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
}

.catalog-popular:nth-child(2) {
  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
}

.catalog-popular:nth-child(3) {
  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
}

.catalog-popular:nth-child(4) {
  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
}

.catalog-popular:nth-child(5) {
  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
}

.catalog-popular:last-child {
  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
}

.services-about h2 {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  padding: 0;
  margin: 0;
  padding-bottom: 32px;
}

.services-about p {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
    
  padding: 0;
  margin: 0;
  
  letter-spacing: 0.21px;
}

.services  {
  list-style: none;
  width: 300px;
  padding-right: 15px;
  position: relative;
  top: -13px;
}

.service  {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  min-height: 288px;
}

.services-about {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 557px 12px;
  width: 760px;
  position: relative;
  top: -27px;
    
  min-height: 220px;
}

.services-button,
.write-to-us,
.write-us-send,
.criteria-button,
.show-items,
.page-list {
  font: inherit;
  vertical-align: middle;
  border: none;
  background-color: transparent;
}

.services-button {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2.15px;
  color: #000000;
  text-transform: uppercase;
}


.partners li {
  list-style: none;
}

.about-us h2,
.contacts h2 {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.21px;
  padding: 0;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 44px;
}

.about-us p,
.contacts p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
  padding: 0;
  margin: 0;
  padding-bottom: 29px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-left: 36px;
  margin-bottom: 63px;
}
.about-us li {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #000000;
}

.about-us-more,
.write-to-us {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2.15px;
  display: block;
  padding-left: 25px;
}

.button {
  text-transform: uppercase;
}

.footer-up h2 {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 48px;
  line-height: 48px;
  color: #ffc600;
}

.footer-main {
  background-color: #464646;
}

.footer-adress {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
  position: relative;
}

.footer-menu-small li {
  list-style: none;
}

.footer-menu-small a {
  font-family: 
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;
  letter-spacing: 0.15;  
  list-style: none;
}

.footer-menu-main li {
  list-style: none;
}

.footer-menu-main a {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  background-color: #464646;
}

.footer-tel {
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #fff;
}


.write-us label {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.write-us-send {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 2.15px;
}

#search-field {
  font-weight: 300;
  color: #000000;
}

.page-title {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.17px;
  
  margin: 0;
  padding: 0;
}

.navigation-page {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color:#000000;
  letter-spacing: 0.14px;
  
  opacity: 0.3;
}

.criteria-filter,
.criteria-sort {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 25px;
  margin-bottom: 69px;
  
  min-height: 70px;
}

.criteria-button {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  
  opacity: 0.3;
}

.settings legend {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
}

.color {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
}

.show-items {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 2.15px;
}

.list-item h3 {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  padding: 0;
  margin: 0;
}

.list-item b {
  font-family: "gilroylight", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #464646;
  letter-spacing: 0.16px;
}

.page-list {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.91px;
}

.pages li {
  list-style: none;
}

.list-item-new {
  font-family: "gilroyextrabold", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.25px;
  
  opacity: 0.2;
  
  position: relative;
  top: -550px;
  left: 680px;
}

/* для сетки */


.catalog-link,
.option-menu,
.header-menu-small,
.menu-sign-in {
  margin: 0;
  padding: 0;
}

.search input {
  margin: 0;
  padding: 0;
  width: 240px;
}

.menu-sign-in {
  margin-left: 325px;
  width: 80px;
}

.header-menu-small {
  width: 220px;
}

.main-navigation-wrapper {
  width: 1160px;
  min-height: 299px;
  outline: 3px solid green;
  margin: 0 auto;
  padding: 0;
  margin-top: 40px;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation-wrapper .container {
 display: flex;
}

.header-catalog-menu-wrapper .container {
  padding-top: 5px;
  display: flex;
}

.catalog-link a {
  width: 220px;
}

.option-menu {
  width: 500px;
}

.wrapper {
  width: 1160px;
  min-height: 299px;
  margin: 0 auto;
  padding: 0;
}

.product-item {
  width: 384px;
  height: 486px;
  padding: 0;
  margin: 0;
}

.product-image {
  width: 440px;
  margin-left:30px;
  top: -110px;
}

.product-info {
  width: 500px;
  top: -32px;
}

.catalog-item {
  display: flex;
  min-height: 160px;
  justify-content: space-between;
  
  padding: 0;
  margin: 0;
}

.service .container {
  display: flex;
  justify-content: space-between;
}

.catalog{
  min-height: 245px;
  margin-bottom: 177px;
}

.header-catalog-menu {
  display: none;
}

.header-main {
  padding: 0 60px;
  min-height: 300px;
  margin-top: 40px;
  background-color: #f7e296;
}

.header-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.services {
  margin: 0;
  padding: 0;
  padding-left: 14px;
}

.wrapp-menu {
  display: flex;
  justify-content: space-between;
    
  position: relative;
  top: -5px;
}

.header-menu-small {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.visually-hidden {
  display: none;
}
.main-logo {
  margin: 0;
  padding: 0;
  position: relative;
  top: -23px;
}

.option-menu-contacts {
  margin-left: 70px;
}

.main-navigation {
  margin-top: 40px;
}

.product {
  display: flex; 
  padding: 0 60px;
  justify-content: space-between;
  margin-bottom: 105px;
  height: 375px;
}

.move-up {
  position: relative;
}

.category {
  width: 160px;
  height: 160px;
  background-color: #f7e296;
}

.catalog-popular a {
  position: relative;
  padding: 0;
  margin: 0;
  top: 193px;
}

.partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
}

.about-us {
  width: 500px;
}

.contacts {
  width: 560px;
}

.info {
  display: flex;
  justify-content: space-between;
  min-height: 560px;
  margin-bottom: 60px;
}

.footer-up {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.footer-menu-small {
  display: flex;
  justify-content: space-between;
  width: 323px;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 4px;
}

.footer-up h2 {
  padding: 0;
  margin: 0;
}

.footer-main {
  padding-top: 60px;
  padding-bottom: 65px;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
  align-items: flex-end;
}

.footer-menu-main {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  width: 440px;
}

.footer-bottom {
  display: flex;
  justify-content: flex-end;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  
  width: 240px;
  
  list-style: none;
}

.footer-html {
  width: 60px;
  height: 60px;
  margin-left: 400px;
  position: relative;
}

.footer-main .container {
  min-height: 200px;
}

.warranty,
.delivery {
  padding-bottom: 39px;
}
.inner-header .header-main {
  min-height: 186px;
  margin-bottom: 40px;
}

.page-name {
  min-height: 100px;
  margin-bottom: 37px;
  
  padding: 0 60px;
}

.navigation {
  display: flex;
  width: 400px;
  justify-content: space-between;
  
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.devices .container {
  display: flex;
  justify-content: space-between;
  
  padding-left: 60px;
}

.filter {
  width: 268px;
}

.list {
  width: 760px;
}

.sort {
  display: flex;
  justify-content: space-between;
  min-height: 70px;
}

.criteria {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding: 0;
  margin: 0;
  padding-right: 10px;
  padding-top: 25px;
  
  list-style: none;
}

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.pages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0;
  padding: 14px 25px;
  width: 760px;
  min-height: 70px;
    
  background-color: #ebebeb;
}

.slider {
  position: relative;
  top: 550px;
  left: 1373px;
}

.log-out {
  padding: 0;
  margin: 0;
}

.criteria-price {
  margin: 0;
  padding: 0;
  min-height: 105px;
  
  margin-bottom: 36px;
}

.colors {
  margin: 0;
  padding: 0;
  min-height: 250px;
  margin-bottom: 35px;
  
  display: flex;
}

.criteria-blue {
  display: flex;
}

.only-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.list-item {
  margin-bottom: 39px;
}

.inner {
  margin-top: 54px;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.items-descrip {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.items-descrip h2 {
  margin: 0;
  padding: 0;
  width: 260px
}

.footer-3 {
    display: flex;
}

.compare {
  padding-left: 27px; 
  position: relative;
}

.compare::before {
  content: "";
  left: 7px;
  top: 12px;
  position: absolute;
  width: 10px;
  height: 10px;

  background-image: url("../img/compare.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.cart {
    position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  top: 5px;
  right: 70px;
  width: 12px;
  height: 12px;
  background-image: url("../img/cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0; 
}

.catalog-link {
  position: absolute;
}

.catalog-link::after {
  content: "";
  position: absolute;
  
  top: 3px;
  left: 230px;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: 0 0;   
}

.product-characters {
  display: flex;
  justify-content: space-between;
  width: 430px;
  margin-bottom: 7px;
}

.product-data {
  display: flex;
  justify-content: space-between;  
  width: 365px;
}

.footer-html::after {
  content: "";
  position: absolute;
  
  top: 10px;
  left: 33px;
  width: 27px;
  height: 35px;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  background-position: 0 0;   
}

.fb,
.insta,
.tw {
  position: relative;
  width: 50px;
  height: 45px;
}

.fb::after {
    content: "";
  position: absolute;
  
  top: 10px;
  left: 50px;
  width: 32px;
  height: 32px;
  background-image: url("../img/fb.svg");
  background-repeat: no-repeat;
  background-position: 0 0;   
}

.insta::after {
  content: "";
  position: absolute;
  
  top: 10px;
  left: -16px;
  width: 32px;
  height: 32px;
  background-image: url("../img/instagram.svg");
  background-repeat: no-repeat;
  background-position: 0 0;     
}

.tw::after {
  content: "";
  position: absolute;
  
  top: 10px;
  right: 50px;
  width: 32px;
  height: 32px;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  background-position: 0 0;       
}

.pages-numbers {
  display: flex;
  justify-content: space-around;
  width: 146px;
  margin: 0;
  padding: 0;
  padding: 0 20px;
}

.inner .footer-3 {
  width: 480px;
  justify-content: space-between;
}

.inner .sign-out {
  margin-left: -28px;
}

.footer-3 {
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

iframe {
  margin-bottom: 71px;
}

.contacts p {
  padding-bottom: 38px;
}

.write-to-us {
  padding-left: 41px;
}

.footer-adress::after {
  content: "";
  position: absolute;
  top: 107px;
  right: 122px;
  
  width: 80px;
  height: 7px;
  background-image: url("../img/orange%20807.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;       
}

.warranty,
.credit {
  padding-left: 4px;
}

.write-us {
  width: 960px;
  min-height: 553px;
  position: absolute;
  background-color: white;
  top: 200px;
  left: 50%;
  margin-left: -480px;
  padding-top: 90px;
}

.form-container {
  width: 760px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-info {
  width: 360px;
  min-height: 85px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.form-info label {
  width: 360px;
  height: 0;
}

.form-info input {
  width: 360px;
  background-color: #f2f2f2;
  border: none;
}

.form-text {
  display: flex;
  flex-wrap: wrap;
}

.write-us-text,
.form-text textarea {
  width: 760px;
}

.modal-close {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: #d0d0d0;
}

.form-text textarea {
  margin-bottom: 50px;
}



