@font-face {
    font-family: 'gilroyextrabold';
    src: url('fonts/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('fonts/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('fonts/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    padding: 0;
    
    font-family: "Gilroyextrabold", Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    
    background-color: #fff;   
}

.logo {
    font-size: 48px;
    line-height: 48px;
}

a {
    text-decoration: none;
}

.header-menu-small  {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #000;
    
    list-style: none;
}

.header-menu-small a,
.header-catalog-menu a,
.option-menu a,
.catalog-item a {
    color: #000;
}

.search {
    font-size: 15px;
    line-height: 30px;
}

.header-catalog-menu {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
    
    list-style: none
}

.option-menu {
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    
    list-style: none;
}

.product b {
    font-size: 47px;
    line-height: 56px;
    color: #000;
}

.product p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
    line-height: 30px;
}

.product-more {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
}

.product-item-description tr:first-child {
    font-family: "gilroylight", Arial, sans-serif;
    font-style: light;
    font-size: 36px;
    line-height: 48px;
    
}

.product-item-description tr:last-child {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #464646;
}

.catalog-item  {
    font-size: 18px;
    line-height: 24px;
    
    list-style: none;
    
}

.services-about h2 {
    font-size: 47px;
    line-height: 48px;
}

.services-about p {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
    color: #464646;
}

.services {
    list-style: none;
}

.services-button {
    font: inherit;
    vertical-align: middle;
    text-transform: uppercase;
}